.video {
  position: relative;
  width: 100%;
  height: 100%;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  scroll-snap-align: start;
}

.video::before {
  content: '';
  display: block;
	box-shadow: 0 -33px 48px rgba(0, 0, 0, 0.5) inset;
  width: 100%;
  pointer-events: none;
  z-index: 99;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: transparent;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fill ;
  width: 100%;
  height: 100%;
}

.bottom-controls {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.upload-info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.upload-info-content {
  display: flex;
  align-items: center;
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
}

.upload-info-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.upload-info-details {
  max-width: 400px;
}

.upload-info-details p {
  margin: 5px 0;
}